.todoContainer {
  padding: 20px;
  height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  position: relative; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  position: sticky; 
  top: 0; 
  z-index: 10; 
  border-bottom: 1px solid #ddd; 
}

.homeLists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1; 
  border-radius: 10px;
}

.homeLists li {
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.homeLists li p {
  margin: 0;
}

.homeLists li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.homeLists li input[type="checkbox"] {
  margin-right: 10px;
}

.inputContainer {
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0; 
  padding: 10px; 
  background-color: #f7f7f7;
  border-top: 1px solid #ddd; 
  display: flex;
  justify-content: space-between; 
  height: 60px;
  z-index: 20;
}

.inputWrapper {
  display: flex;
  align-items: center; 
  flex-grow: 1; 
}

.inputWrapper input {
  flex-grow: 1; 
  margin-right: 10px;
}
