.stickyPage {
    width: 90%;
    height: 100%;
    background: #F5F5F5;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    align-items: center;
    border: 4px solid #AFD3E2;
    position: relative;
    background: white;
    width: 85%;
    height: 85%;
    aspect-ratio: 16 / 9; 
}

.title {
    color: #146C94;
    font-size: 32px;
    font-weight: bolder;
    position: relative;
    text-align: center;
    bottom: 60px;
}

.sticky-btn {
    color: white;
    border-radius: 10px;
    border: 3px solid #AFD3E2;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 50px;
    height: 50px;    
    background: transparent;
}
  
.sticky-btn:hover {
    background: dodgerblue;
    cursor: pointer;
}
  
.sticky-note {
    width: 300px;
    border: 3px solid #333;
    position: absolute;
    top: 30px;
    left: 50px;
    box-sizing: border-box
}
  
.sticky-note-header {
    background: #19A7C3;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: move;
}
  
textarea {
    outline: none;
    width: 100%;
    padding: 10px;
    height: 200px;
    resize: none;
    border: none;
    box-sizing: border-box
}
  
.close {
    width: 35px;
    height: 35px;
    background: #146C94;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}
  
.close:hover {
    opacity: 0.8;
}
  
.buttonImage {
    width: 70%;             /* 이미지 비율 조정 */
    height: 70%;            /* 동일 비율 유지 */
    object-fit: contain;    /* 이미지가 정사각형에 맞게 조정 */
}