.noticeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.groupName {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    position: sticky; 
    top: 0; 
    z-index: 10;
    border-bottom: 3px solid #19A7C3;
    padding-bottom: 10px;
    color: #0A0A0A;
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: bold;
}

.noticeLists {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}

.noticeOption {
    display: flex;
    height: 15%;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    border: 2px solid #D6D6D6;
    margin-bottom: 5px;
}

.noticeAuthor {
    width: 50px;
    height: 50px;
}

.author {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background: #D9E8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.notice {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.noticeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    border-bottom: 3px solid #D6D6D6;
    gap: 5px;
}

.noticeTitle {
    width: 70%;
    color: #3268FF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
}

.updateButton {
    width: 20px;
    height: 20px;
    background-image: url('../Assets/edit_button.png');
    background-color: white;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.updateButton:hover {
    background-image: url('../Assets/edit_button_hover.png');
}

.deleteButton {
    width: 20px;
    height: 20px;
    background-image: url('../Assets/delete_button.png');
    background-color: white;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.deleteButton:hover {
    background-image: url('../Assets/delete_button_red_color.png');
}

.noticeContent {
    color: #292929;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.error {
    color: red;
    font-size: 14px;
}
