.groupTodoContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; 
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    position: sticky; 
    top: 0; 
    z-index: 10; 
    border-bottom: 3px solid #19A7C3;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.headerTitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.addButton {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url('../Assets/add_button.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 10px;
    border: 3px solid #AFD3E2;
    cursor: pointer; 
}

.addButton:hover, .sendButton:hover {
    border: 3px solid dodgerblue;
    cursor: pointer;
}

.todoLists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; 
    flex-grow: 1; 
    height: 90%; 
    border-radius: 10px;
    margin-bottom: 20px; 
}

.todoLists li {
    padding: 10px;
    margin: 5px;
    background-color: #146C94;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 20px;
}

.todoLists li input {
    width: 24px;
    height: 24px;
    border-radius: 50%; /* 원형 체크박스 */
    border: 2px solid #AFD3E2;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    transition: 0.2s;
    appearance: none; /* 기본 체크박스 스타일 제거 */
    margin-right: 8px;
    flex-shrink: 0;
    margin-top: 4px;
}

.todoLists li input:hover {
    border-color: #4FB1C2;
    box-shadow: 0 0 0 3px rgba(79, 177, 194, 0.3);
}
  
.todoLists li input:checked {
    background-image: url('../Assets/color_check.png');
    background-size: 20px;
    border: 2px solid #19A7C3;
    background-color: #146C94;
}

.noteContent {
    color: white;
    transition: color 0.2s, text-decoration 0.2s;
}

.completed {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}

.deleteButton {
    width: 25px;
    height: 25px;
    background-color: #146C94;
    background-image: url('../Assets/close_button.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.todoLists li input[type="checkbox"] {
    margin-right: 10px;
}

.inputContainer {
    height: 10%;
    padding: 10px;
    background-color: white;
    border-top: 3px solid #19A7C3;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.inputWrapper {
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.taskInput {
    width: 100%;
    height: 70%;
    padding: 0 4px;
    outline: none;
    border-right: none;
    border-radius: 0;
    border: 3px solid #AFD3E2;
    background-color: transparent;
    margin-right: 12px;
    color: black;
    box-shadow: none;
}

.sendButton {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url('../Assets/send_button.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 10px;
    border: 3px solid #AFD3E2;
    cursor: pointer; 
}
