.totalPage {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100vh;
  margin-left: 10%;
  box-sizing: border-box;
  border-left: 3px solid black;
  background: #FAFAFA;
}

.homeMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.homeCalendarList {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #f7f7f7;
  height: 88vh;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 5px solid #19A7C3;
  border-radius: 15px;
}

.noticeAndTime {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #f7f7f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 5px solid #19A7C3;
  border-radius: 15px;
}

.todoCheckList {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 63.2vh;
  border-radius: 15px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: none; 
}

.tableWrap {
  max-width: 100%;
  overflow-x: auto;
  flex-grow: 1;
}

.emptyMessage {
  color: #999;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homeCalendarList h2,
.noticeAndTime h2,
.todoCheckList h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.homeCalendarList {
  background-color: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.noticeAndTime {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.todoCheckList {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


@media (max-width: 768px) {
  .contentContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
