.totalPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
  
.homeMain {
    position: absolute;
    bottom: 0;
    margin-left: calc(200px + (275 - 200) * (100vw - 854px) / (1920 - 854));
    background-color: rgb(0,0,0);
    height: 90%;
    width: calc(100% - (200px + (275 - 200) * (100vw - 854px) / (1920 - 854)));
    overflow-y: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}
  
.homeCalendarList, .homeStickyList {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 45%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.homeCalendarList {
    left: 20px;
}
  
.homeStickyList {
    right: 20px;
}  

.emptyMessage {
    color: #999;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}