.optionBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 75px;
    width: calc(100% - (200px + (275 - 200) * (100vw - 854px) / (1920 - 854)));
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
  }
  
  .optionButton {
    width : 50px;
    height : 50px;
    background-color: hsl(var(--hue),10%,65%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .optionButton:hover {
    background-color: hsl(var(--hue),10%,75%);
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,20%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.optionBar {
		background-color: hsl(var(--hue),10%,10%);
	}
}