.calendarPage {
  display: flex;
  flex-direction: row;
  width: calc(100% - 200px);
  height: 100%;
  margin-left: 200px;
  background-color: #F6F1F1; 
}

.calendarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(30px + (275 - 200) * (100vw - 854px) / (1920 - 854));
  background-color: #ffffff; 
  border-radius: 10px;
  width: 100%; 
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #19A7C3; 
  color: #ffffff; 
  padding: 5px;
  border-radius: 10px 10px 0 0; 
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  background-color: #AFD3E2; 
  border-radius: 0 0 10px 10px; 
}

.calendarDay {
  position: relative;
  padding: 15px; 
  border: 1px solid #ccc;
  min-height: 80px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; 
}

.calendarDay:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.eventTitle {
  font-size: 14px; 
  margin-top: 4px;
}

.iconContainer {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px; 
}
