.calendarPage {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100vw; 
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent; 
  box-sizing: border-box;
  overflow: hidden; 
  position: relative;
}

.calendarContainer {
  display: grid;
  grid-template-rows: auto auto; 
  align-items: center;
  justify-items: center;
  width: 100%; 
  max-width: 1500px;
  padding: 50px; 
  border: 3px solid #AFD3E2;
  background-color: transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out; 
  height: 95vh; 
  max-height: 1100px; 
  margin-left:9vw;
}


.calendarHeader {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  background-color: transparent;
  color: #146C94; 
  font-size: 28px;
  font-weight: 700;
  padding: 5px;
  bottom: 30px;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr); 
  grid-gap: 13px; 
  width: 100%;
  height: calc(90vh - 70px); 
  align-items: stretch; 
}

.calendarDay {
  min-height: 130px; 
  position: relative;
  padding: 10px;  
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  border: 4px solid #146C94;
  box-sizing: border-box;
  display: flex;
  font-size: 1.4rem; 
  height: auto; 
  
}


.calendarDay:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.calendarDayEmpty {
  border: none;
  background: transparent;
}

.calendarDayName{
  font-weight: 900;
  color: #146C94;
  font-size: 22px;
  line-height: 1;  
  display: flex; 
  position: relative;
  left: 25%;
}

.eventTitle {
  font-size: 14px; 
  margin-top: 4px;
  padding: 2px 4px;
  background-color: rgba(255, 182, 193, 0.6);
  color: white;
  border-radius: 4px;
}

.iconContainer {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.selected {
  background-color: #FFE4E1;
}

.modalOverlay {
  position: relative;
  display: flex;
  background-color: transparent;
}

.modal {
  position: fixed; /* 변경: 상대 위치에서 고정 위치로 변경 */
  top: 50%; /* 수직 중앙 */
  left: 50%; /* 수평 중앙 */
  transform: translate(-50%, -50%); /* 중앙으로 이동 */
  background: #FAFAFA;
  padding: 30px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달이 다른 요소들 위에 오도록 설정 */
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  border: 4px solid #146C94;
}
.modal h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #AFD3E2;
  text-align: center;
}

.modal input[type="text"],
.modal textarea {
  width: 100%; /* 입력 필드 넓이 100%로 */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.modal select {
  width: 100%; /* 셀렉트 박스도 넓이를 맞춤 */
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
}

.modal button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 12px;
  border: none;
  background-color: #146C94;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  display: inline-block;
  border-radius: 8px;
}

.modal button:hover {
  background-color: #0E4A62;
}

.modal .colorPicker {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.modal .colorPicker button {
  cursor: pointer;
  transition: transform 0.2s;
  padding: 20px 20px;
  border-radius: 50%;
}

.modal .colorPicker button:hover {
  transform: scale(1.1); /* 호버 시 살짝 커짐 효과 */
}

@media (max-width: 768px) {
  .calendarContainer {
    width: 90%; 
  }

  .calendarDay {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  .calendarGrid {
    grid-template-columns: repeat(3, 1fr); 
  }

  .calendarDay {
    font-size: 0.8rem;
  }
}