.totalPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
  
.menuBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(200px + (275 - 200) * (100vw - 854px) / (1920 - 854));
}
  
.optionBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 10%;
    width: calc(100% - (200px + (275 - 200) * (100vw - 854px) / (1920 - 854)));
}
  
.friendsMain {
    margin-left: calc(200px + (275 - 200) * (100vw - 854px) / (1920 - 854));
    background-color: rgba(255,255,255,1);
    height: 100%;
    width: calc(100% - (200px + (275 - 200) * (100vw - 854px) / (1920 - 854)));
    overflow-y: auto;
}