.groupPage {
    background: #FAFAFA;
    height: 100vh;
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: white;
    width: 35%;
    height: 35%;
    border: 5px solid #19A7C3;
    border-radius: 15px;
}

.groupSelect {
    margin-top: 10px;
    padding: 10px; 
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

.message {
    margin-top: 10px; 
    color: red; 
}

.joinButtonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.createGroupButton, .connectButton, .cancelButton {
    padding: 10px 15px; 
    font-size: 16px;
    cursor: pointer; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    width: 20vh;
}

.createGroupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.groupInput { 
    padding: 10px; 
    font-size: 16px; 
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: white; 
    cursor: pointer; 
    appearance: none;
}

button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
}

.mainGroupContainer {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

.toDoContainer,
.noticeContainer {
    width: 80vh; 
    min-height: 90vh;
    background-color: white;
    border: 5px solid #19A7C3;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.toDoContainer {
    margin-right: 20px; 
}

.noticeContainer {
    margin-right: 0; 
}

.noticeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #19A7C3;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.noticeHeader h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.addButton {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url('../Assets/add_button.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 10px;
    border: 3px solid #AFD3E2;
    cursor: pointer; 
}

.addButton:hover {
    border: 3px solid dodgerblue;
    cursor: pointer;
}

.toDoContent, .noticeContent {
    padding: 10px;
}