html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.background {
    flex: 1;
    background-image: url('../Assets/motodo_main.jpg');
}

.wrapper {
    width: 50%;
    background: #fafafa;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #AFD3E2;
    border-radius: 15px;
    font-size: 16px;
    color: #000000;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.input-box input::placeholder {
    color: #000;
}

.input-box .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #19A7C3;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #FAFAFA;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.wrapper button:hover {
    background: #ddd;
    color: #000;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.title {
    color: #146C94;
    font-size: 32px;
    font: bolder;
}

.word {
    color: #146C94;
    font-size: 16px;
    font: bolder;
}