.current-date-time {
    position: fixed; /* 화면에 고정 */
    top: 20px; /* 상단에서 20px 떨어진 위치 */
    left: 50%; /* 화면 중앙으로 위치 조정 */
    transform: translateX(-50%); /* 중앙 정렬을 위한 이동 */
    z-index: 1000; /* 다른 요소들보다 위에 위치하도록 설정 */
    font-size: 24px; /* 원하는 폰트 크기 */
    color: #333; /* 텍스트 색상 */
    padding: 10px; /* 내부 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
}

#parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 3px solid rgb(15, 57, 105);
    padding: 20px 50px 20px 50px;
    text-align: center;
}
  
#timeDisplay{
    display: inline-block;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-size: 30px;
}